@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Questrial&display=swap');

* {
    margin: 0;
}

body {
    background-color: black;
    color:#f2f2f2;
    font-family: "open sans", sans-serif;
}

header {
    background-color: #382972;
    text-align: center;
    height: 100vh;
}

header h1 {
    font-size: 64px;
    padding-top: 30vh;
    line-height: 130%;
}

h1, h2, h3 {
    font-family: "questrial", sans-serif;
    font-weight: 400;
    margin-bottom: 15px;
}

h1 {
    margin-bottom: 40px;
}

h3 {
    letter-spacing: .15em;
    font-size: 22px;
    text-transform: UPPERCASE;
}

#resume h3 {
    letter-spacing: unset;
    font-size: 24px;
}

#resume h2 {
    font-size: 32px;
}

a {
    text-decoration: none;
}

#navbar {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: black;
    display: flex;
    justify-content: center;
    padding: 30px 0;
    z-index: 2;
}

#navbar a, #resume a {
    display: inline-block;
    text-align: center;
    margin: auto 20px;
    padding: 14px;
    width: 120px;
    height: 15px;
    border-radius: 25px;
    background-color: #3a2972;
    color: #f2f2f2;
}

#resume a {
    margin: 10px auto 10px 0px;
}

.content {
    padding: 100px;
}

section {
    height: 100vh;
}

.flex-container {
    display: flex;
    gap: 30px;
    flex-direction: row;
    width: 100vw - 200px;
}

.block-container {
    display: block;
}

.flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column .column-small {
    align-items: end;
    padding: 10px;
}

.flex-column .column-large {
    align-items: start;
    padding: 15px 10px 0px 10px;
}

h1 {
    font-size: 48px;
}

.label {
    font-size: 14px;
    font-family: "questrial", sans-serif;
    font-weight: 400;
}

.subheading {
    padding-top: 25px;
}

#projects p {
    font-size: 12px;
    font-weight: lighter;
    letter-spacing: .06em;
}

#resume p {
    font-size: 14px;
    font-weight: light;
    margin-bottom: 14px;
}

#resume .flex-container {
    justify-content: space-between;
}

#resume .flex-column {
    width: 300px;
}

.column {
    float: left;
}

.column-half {
    width: 50%;
}

.column-small {
    width: 33%;
}

.column-large {
    width: 67%;
}

#scroll-icon {
    margin-top: 100px;
}

.bubble-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;
    max-width: 800px;
    position: relative;
    padding: 20px;
    z-index: 1;
}

.bubble {
    width: 100px;
    height: 100px;
    background-color: rgba(104, 84, 182, 0.267);
    border: solid 4px #6854b6;
    border-radius: 50%; 
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease-in-out;
    position: relative;
}

.bubble i {
    font-size: 20px;
    color: #333;
}

.bubble:hover {
    transform: scale(1.2);
}

.tool-icon {
    width: 50px;
    margin-bottom: 5px;
}

.thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 300px;
    height: 150px;
    margin-bottom: 20px;
}

.thumbnail img {
    object-fit: cover;
    min-width: 100%;
    min-height: 100%
}

.linked-icon {
    width: 30px;
    margin: 0 5px 5px 0;
}